HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.f_white {
	COLOR: #fff !important
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
ADDRESS {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CAPTION {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CITE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CODE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
DFN {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
TH {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
VAR {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
INPUT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
SELECT {
	VERTICAL-ALIGN: middle
}
INPUT {
	VERTICAL-ALIGN: middle
}
SELECT {
	MARGIN: 0px; FONT-SIZE: 12px
}
INPUT {
	MARGIN: 0px; FONT-SIZE: 12px
}
TEXTAREA {
	MARGIN: 0px; FONT-SIZE: 12px
}
INPUT[type='text'] {
	OUTLINE-STYLE: none; -webkit-appearance: none
}
INPUT[type='password'] {
	OUTLINE-STYLE: none; -webkit-appearance: none
}
TEXTAREA {
	OUTLINE-STYLE: none; -webkit-appearance: none
}
TEXTAREA {
	resize: none
}
TABLE {
	BORDER-COLLAPSE: collapse
}
BODY {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px/20px "宋体"; BACKGROUND: #fff; COLOR: #333; PADDING-TOP: 0px; -webkit-text-size-adjust: none
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clearfix {
	ZOOM: 1
}
.clearit {
	HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden
}
A {
	COLOR: #000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #757575
}
A:hover {
	COLOR: #9b0002; TEXT-DECORATION: underline
}
A:active {
	COLOR: #9b0002; TEXT-DECORATION: underline
}
A:focus {
	COLOR: #9b0002; TEXT-DECORATION: underline
}
.fred {
	COLOR: #ca2001 !important
}
.fgrey {
	COLOR: #858175
}
.fred02 {
	COLOR: #9b0002 !important
}
.fblack {
	COLOR: #000 !important
}
.fblue {
	COLOR: #33f !important
}
.forange {
	COLOR: #f60 !important
}
A.fred02:visited {
	COLOR: #757575 !important
}
A.fblack:visited {
	COLOR: #757575 !important
}
A.fblue:visited {
	COLOR: #757575 !important
}
A.forange:visited {
	COLOR: #757575 !important
}
A.fred:visited {
	
}
A.fred:hover {
	COLOR: #9b0002 !important
}
A.fred02:hover {
	COLOR: #9b0002 !important
}
A.fblack:hover {
	COLOR: #9b0002 !important
}
A.fblue:hover {
	COLOR: #9b0002 !important
}
A.forange:hover {
	COLOR: #9b0002 !important
}
.grey {
	COLOR: #858178
}
A.grey {
	COLOR: #858178
}
.grey A {
	COLOR: #858178
}
A.grey:visited {
	COLOR: #757575
}
.grey A:visited {
	COLOR: #757575
}
A.grey:hover {
	COLOR: #c00
}
.grey A:hover {
	COLOR: #c00
}

H3 {
	FONT-WEIGHT: normal
}


.arr_left {
	BACKGROUND: url(ent_zxh_0420_02_v5.png) no-repeat -999em 0px
}
.arr_right {
	BACKGROUND: url(ent_zxh_0420_02_v5.png) no-repeat -999em 0px
}
.scroll_num SPAN {
	BACKGROUND: url(ent_zxh_0420_02_v5.png) no-repeat -999em 0px
}

.scroll {
	POSITION: relative;  OVERFLOW: hidden;
}
.scroll .scroll_num {
	POSITION: absolute; TOP: 255px; RIGHT: 20px
}
.scroll .scroll_num SPAN {
	WIDTH: 16px; DISPLAY: inline-block; BACKGROUND: url(ent_zxh_0420_num_pot.png) no-repeat; HEIGHT: 16px; MARGIN-LEFT: 4px; CURSOR: pointer; _background: none
}
.scroll .scroll_num SPAN.current {
	BACKGROUND: url(ent_zxh_0420_num_pot_selected.png) no-repeat; _background: none
}
.scroll .arr_left {
	POSITION: absolute; WIDTH: 30px; BACKGROUND: url(ent_zxh_0420_arrleft.png) no-repeat; HEIGHT: 44px; TOP: 140px; CURSOR: pointer; LEFT: -1px; _background: none
}
.scroll .arr_right {
	POSITION: absolute; WIDTH: 30px; BACKGROUND: url(ent_zxh_0420_arrright.png) no-repeat; HEIGHT: 44px; TOP: 140px; CURSOR: pointer; RIGHT: -1px; _background: none
}
.scroll A.arr_left:hover {
	BACKGROUND: url(ent_zxh_0420_arrleft_hover.png) no-repeat; _background: none
}
.scroll A.arr_right:hover {
	BACKGROUND: url(ent_zxh_0420_arrright_hover.png) no-repeat; _background: none
}
.scroll .box {
	 FLOAT: left; OVERFLOW: hidden
}
.scroll .box .bg {
	FILTER: alpha(opacity=50); MARGIN-TOP: -85px; BACKGROUND: #000; HEIGHT: 85px; opacity: 0.5
}
.scroll .box .txt {
	POSITION: relative; MARGIN-TOP: -85px; PADDING-LEFT: 10px; HEIGHT: 85px
}
.scroll .box H3 {
	LINE-HEIGHT: 36px; FONT-FAMILY: "微软雅黑", "黑体"; FONT-SIZE: 20px
}
.scroll .box P {
	COLOR: #fff;
}
.scroll .play_icon A {
	POSITION: relative; LINE-HEIGHT: 400px; WIDTH: 69px; DISPLAY: block; BACKGROUND: url(ent_zxh_play_icon_normal.png) no-repeat; HEIGHT: 69px; OVERFLOW: hidden; TOP: -162px; CURSOR: pointer; LEFT: 20px; _background: none
}
.scroll .play_icon A:hover {
	BACKGROUND: url(ent_zxh_play_icon_hover.png) no-repeat; _background: none
}
.scroll01 .box {
	WIDTH: 128px; PADDING-RIGHT: 20px; FLOAT: left; OVERFLOW: hidden
}
.scroll01 .box_c {
	OVERFLOW: hidden
}
.scroll01 {
	_position: relative
}
.scroll_cont {
	_position: relative
}
.scroll01 .box {
	_position: relative
}
.scroll01 .box_c {
	_position: relative
}
.scroll01 .btn {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; PADDING-TOP: 0px
}
.scroll01 .arr_left {
	MARGIN: 0px 10px; WIDTH: 31px; DISPLAY: inline-block; BACKGROUND-POSITION: -200px -100px; HEIGHT: 31px
}
.scroll01 .arr_left:hover {
	BACKGROUND-POSITION: -200px -150px
}
.scroll01 .arr_right {
	MARGIN: 0px 10px; WIDTH: 31px; DISPLAY: inline-block; BACKGROUND-POSITION: -250px -100px; HEIGHT: 31px
}
.scroll01 .arr_right:hover {
	BACKGROUND-POSITION: -250px -150px
}
.scroll01 .scroll_num SPAN {
	WIDTH: 18px; DISPLAY: inline-block; BACKGROUND-POSITION: -300px -100px; HEIGHT: 31px
}
.scroll01 .scroll_num SPAN.current {
	BACKGROUND-POSITION: -320px -100px
}